---
import Layout from "../layouts/Layout.astro";

interface Props {
	error: unknown;
}

const { error } = Astro.props;
---

<Layout title='500 - Server Error'>
	<div class='daisyui-container mx-auto p-8 prose'>
		<h1 class='text-5xl font-bold'>500 - Server Error</h1>
		<p class='text-xl mt-4'>The server encountered something unexpected that didn't allow it to complete the request.</p>
		<p class='text-lg mt-2'>Error details:</p>
		<pre>{error}</pre>
		<p class='text-lg mt-2'>We apologize for the inconvenience. The incident will be reported and investigated.</p>
		<p class='text-lg mt-2'>Return to <a href='/' class='text-yellow-300 underline'>Home</a></p>
	</div>
</Layout>

<style>
	.daisyui-container {
		max-width: 800px;
		margin: 0 auto;
		padding: 1rem;
		background-color: #f9f9f9;
		border-radius: 0.5rem;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		font-family: Arial, sans-serif;
		color: #333;
		text-align: center;
		line-height: 1.6;
		font-size: 1rem;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
</style>
