<dialog id='photoModal' class='modal'>
	<div class='modal-box max-w-4xl w-full p-4'>
		<div id='modal-body' class='flex flex-col md:grid md:grid-cols-1 md:grid-rows-[calc(100dvh-13em)] gap-2'>
			<div id='image-with-map' class='gap-4'>
				<!-- Image Section -->
				<div>
					<img id='modal-image' />
				</div>
				<!-- Google Maps Embed -->
				<iframe class='w-full rounded-lg border shadow-lg' allowfullscreen loading='lazy' style='height:100%'></iframe>
			</div>

			<!-- Date Section -->
			<div id='date' class='badge text-center font-medium'></div>
		</div>

		<div class='modal-action'>
			<button id='close-dialog-button' onclick="this.closest('dialog').close()" class='btn'>Close</button>
		</div>
	</div>
</dialog>
